<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Dashboard | Symphony</title>
  </head>
  <body>
    <main class="container">
      <h1 style="margin-bottom: 1rem">Generated Classes</h1>
      <a data-target="modal-push" onClick="toggleModal(event)"><p style="margin-top: 0"><i><b>Push to Google Classroom</b></i></p></a>
      <table role="grid">
        <thead>
            <tr>
              <th scope="col">Class Name</th>
              <th scope="col">Teacher</th>
              <th scope="col">No. Students</th>
              <th scope="col">Excluded from Classroom</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for (const [key, value] of Object.entries(classData)) { // For each class %>
              <% if (value.excluded) { var excluded = "Yes" } else { var excluded = "No" } %>
            <tr>
                <td><%= key // Class name and line (title) %></td>
                <td><%= value.teacher // Class teacher %></td>
                <td><%= value.students.length // Total number of students in students array %></td>
                <td><%= excluded %></td>
                <td><a href="/manage?class=<%= key // URL to manage students %>"><b>Manage</b></a></td>
              </tr>
            <% } %>
          </tbody>
      </table>

      <dialog id="modal-push">
        <article>
          <a href="#close"
            aria-label="Close"
            class="close"
            data-target="modal-push"
            onClick="toggleModal(event)">
          </a>
          <h3>Confirm push to Google Classroom</h3>
          <p>
            A classroom will be created for each class, and students will be added to each classroom. Classrooms will not be created for classes and subjects marked as excluded. <u>This action is irreversible!</u>
          </p>
          <footer>
            <a href="#cancel"
              role="button"
              class="secondary"
              data-target="modal-push"
              onClick="toggleModal(event)">
              Cancel
            </a>
            <a href="/push"
              role="button"
              data-target="modal-push">
              Confirm
            </a>
          </footer>
        </article>
      </dialog>
    </main>

    <script src="/modal.js"></script>
  </body>
</html>